<!doctype html>  
<html lang="en">
	
	<head>
		<style type="text/css">

			body {margin-top: 0px;margin-left: 0px;}

			#page_1 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_1 #p1dimg1 #p1img1 {width:1278px;height:719px;}




			#page_2 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_2 #p2dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_2 #p2dimg1 #p2img1 {width:1278px;height:719px;}




			#page_3 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 719px;}

			#page_3 #p3dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1278px;height:719px;}
			#page_3 #p3dimg1 #p3img1 {width:1278px;height:719px;}




			#page_4 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_4 #p4dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_4 #p4dimg1 #p4img1 {width:1278px;height:719px;}




			#page_5 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 719px;}

			#page_5 #p5dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1278px;height:719px;}
			#page_5 #p5dimg1 #p5img1 {width:1278px;height:719px;}




			#page_6 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_6 #p6dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_6 #p6dimg1 #p6img1 {width:1278px;height:719px;}




			#page_7 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_7 #p7dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_7 #p7dimg1 #p7img1 {width:1280px;height:720px;}




			#page_8 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_8 #p8dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_8 #p8dimg1 #p8img1 {width:1280px;height:720px;}




			#page_9 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_9 #p9dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_9 #p9dimg1 #p9img1 {width:1280px;height:720px;}




			#page_10 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_10 #p10dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_10 #p10dimg1 #p10img1 {width:1280px;height:720px;}




			#page_11 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_11 #p11dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_11 #p11dimg1 #p11img1 {width:1280px;height:720px;}




			#page_12 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_12 #p12dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_12 #p12dimg1 #p12img1 {width:1280px;height:720px;}




			#page_13 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 719px;}

			#page_13 #p13dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1278px;height:719px;}
			#page_13 #p13dimg1 #p13img1 {width:1278px;height:719px;}




			#page_14 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}
			#page_14 #id_1 {float:left;border:none;margin: 289px 0px 0px 180px;padding: 0px;border:none;width: 213px;overflow: hidden;}
			#page_14 #id_2 {float:left;border:none;margin: 253px 0px 0px 68px;padding: 0px;border:none;width: 817px;overflow: hidden;}

			#page_14 #p14dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_14 #p14dimg1 #p14img1 {width:1278px;height:719px;}




			#page_15 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_15 #p15dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_15 #p15dimg1 #p15img1 {width:1278px;height:719px;}




			#page_16 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 719px;}

			#page_16 #p16dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1278px;height:719px;}
			#page_16 #p16dimg1 #p16img1 {width:1278px;height:719px;}

			#page_16 #p16inl_img1 {position:relative;width:98px;height:19px;}
			#page_16 #p16inl_img2 {position:relative;width:65px;height:19px;}
			#page_16 #p16inl_img3 {position:relative;width:98px;height:19px;}
			#page_16 #p16inl_img4 {position:relative;width:98px;height:19px;}
			#page_16 #p16inl_img5 {position:relative;width:65px;height:19px;}



			#page_17 {position:relative; overflow: hidden;margin: 1px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 719px;}

			#page_17 #p17dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1278px;height:719px;}
			#page_17 #p17dimg1 #p17img1 {width:1278px;height:719px;}

			#page_17 #p17inl_img1 {position:relative;width:67px;height:19px;}
			#page_17 #p17inl_img2 {position:relative;width:71px;height:19px;}
			#page_17 #p17inl_img3 {position:relative;width:67px;height:20px;}



			#page_18 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}
			#page_18 #id_1 {float:left;border:none;margin: 289px 0px 0px 108px;padding: 0px;border:none;width: 285px;overflow: hidden;}
			#page_18 #id_2 {float:left;border:none;margin: 287px 0px 0px 68px;padding: 0px;border:none;width: 385px;overflow: hidden;}

			#page_18 #p18dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_18 #p18dimg1 #p18img1 {width:1278px;height:719px;}




			#page_19 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}
			#page_19 #id_1 {border:none;margin: 60px 0px 0px 382px;padding: 0px;border:none;width: 896px;overflow: hidden;}
			#page_19 #id_2 {border:none;margin: 118px 0px 0px 408px;padding: 0px;border:none;width: 870px;overflow: hidden;}

			#page_19 #p19dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_19 #p19dimg1 #p19img1 {width:1278px;height:719px;}




			#page_20 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}
			#page_20 #id_1 {border:none;margin: 60px 0px 0px 434px;padding: 0px;border:none;width: 844px;overflow: hidden;}
			#page_20 #id_2 {border:none;margin: 199px 0px 0px 556px;padding: 0px;border:none;width: 722px;overflow: hidden;}
			#page_20 #id_3 {border:none;margin: 118px 0px 0px 703px;padding: 0px;border:none;width: 575px;overflow: hidden;}

			#page_20 #p20dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_20 #p20dimg1 #p20img1 {width:1278px;height:719px;}

			#page_20 #p20inl_img1 {position:relative;width:19px;height:28px;}



			#page_21 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}
			#page_21 #id_1 {border:none;margin: 60px 0px 0px 382px;padding: 0px;border:none;width: 896px;overflow: hidden;}
			#page_21 #id_2 {border:none;margin: 118px 0px 0px 408px;padding: 0px;border:none;width: 870px;overflow: hidden;}

			#page_21 #p21dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_21 #p21dimg1 #p21img1 {width:1278px;height:719px;}




			#page_22 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_22 #p22dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_22 #p22dimg1 #p22img1 {width:1280px;height:720px;}




			#page_23 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_23 #p23dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_23 #p23dimg1 #p23img1 {width:1278px;height:719px;}




			#page_24 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 1280px;height: 720px;}

			#page_24 #p24dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1280px;height:720px;}
			#page_24 #p24dimg1 #p24img1 {width:1280px;height:720px;}




			#page_25 {position:relative; overflow: hidden;margin: 1px 0px 0px 2px;padding: 0px;border: none;width: 1278px;height: 719px;}

			#page_25 #p25dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1278px;height:719px;}
			#page_25 #p25dimg1 #p25img1 {width:1278px;height:719px;}




			.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

			.ft0{font: 59px 'Arial';color: #f26722;line-height: 66px;}
			.ft1{font: 43px 'Arial';color: #58595b;line-height: 49px;}
			.ft2{font: 37px 'Arial';color: #58595b;line-height: 42px;}
			.ft3{font: 21px 'Arial';color: #58595b;line-height: 24px;}
			.ft4{font: 171px 'Arial';color: #548c94;line-height: 190px;}
			.ft5{font: bold 25px 'Arial';color: #ffffff;line-height: 30px;}
			.ft6{font: bold 23px 'Arial';color: #ffffff;line-height: 27px;}
			.ft7{font: 59px 'Arial';color: #ffffff;line-height: 66px;}
			.ft8{font: 35px 'Consolas';color: #ffffff;line-height: 53px;}
			.ft9{font: 35px 'Consolas';color: #ffffff;line-height: 41px;}
			.ft10{font: 35px 'Consolas';color: #ffffff;line-height: 43px;}
			.ft11{font: 35px 'Consolas';color: #ffffff;line-height: 52px;}
			.ft12{font: 171px 'Arial';color: #548c94;line-height: 107px;}
			.ft13{font: 53px 'Arial';color: #548c94;line-height: 60px;}
			.ft14{font: 32px 'Arial';color: #548c94;line-height: 36px;}
			.ft15{font: 24px 'Arial';color: #58595b;line-height: 27px;}
			.ft16{font: 1px 'Arial';line-height: 1px;}
			.ft17{font: bold 22px 'Arial';color: #ffffff;line-height: 26px;}
			.ft18{font: 1px 'Arial';line-height: 9px;}
			.ft19{font: 1px 'Arial';line-height: 20px;}
			.ft20{font: 1px 'Arial';line-height: 16px;}
			.ft21{font: bold 20px 'Arial';color: #ffffff;line-height: 24px;}
			.ft22{font: 1px 'Arial';line-height: 15px;}
			.ft23{font: 1px 'Arial';line-height: 22px;}
			.ft24{font: 49px 'Arial';color: #548c94;line-height: 60px;}
			.ft25{font: 40px 'Arial';color: #58595b;line-height: 64px;}
			.ft26{font: bold 18px 'Arial';color: #ffffff;line-height: 21px;}
			.ft27{font: bold 25px 'Arial';color: #ffffff;line-height: 38px;}
			.ft28{font: 42px 'Arial';color: #58595b;line-height: 68px;}

			.p0{text-align: left;padding-left: 340px;margin-top: 109px;margin-bottom: 0px;}
			.p1{text-align: left;padding-left: 527px;margin-top: 30px;margin-bottom: 0px;}
			.p2{text-align: left;padding-left: 607px;margin-top: 224px;margin-bottom: 0px;}
			.p3{text-align: left;padding-left: 606px;margin-top: 13px;margin-bottom: 0px;}
			.p4{text-align: left;padding-left: 426px;margin-top: 61px;margin-bottom: 0px;}
			.p5{text-align: left;padding-left: 468px;margin-top: 108px;margin-bottom: 0px;}
			.p6{text-align: left;padding-left: 468px;margin-top: 24px;margin-bottom: 0px;}
			.p7{text-align: left;padding-left: 468px;margin-top: 23px;margin-bottom: 0px;}
			.p8{text-align: right;padding-right: 255px;margin-top: 61px;margin-bottom: 0px;}
			.p9{text-align: left;padding-left: 470px;margin-top: 253px;margin-bottom: 0px;}
			.p10{text-align: left;padding-left: 480px;margin-top: 61px;margin-bottom: 0px;}
			.p11{text-align: left;padding-left: 82px;margin-top: 124px;margin-bottom: 0px;}
			.p12{text-align: right;padding-right: 332px;margin-top: 61px;margin-bottom: 0px;}
			.p13{text-align: left;padding-left: 227px;margin-top: 186px;margin-bottom: 0px;}
			.p14{text-align: left;padding-left: 355px;margin-top: 61px;margin-bottom: 0px;}
			.p15{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
			.p16{text-align: right;padding-right: 526px;margin-top: 62px;margin-bottom: 0px;}
			.p17{text-align: center;padding-left: 83px;padding-right: 703px;margin-top: 64px;margin-bottom: 0px;}
			.p18{text-align: left;padding-left: 206px;padding-right: 808px;margin-top: 8px;margin-bottom: 0px;text-indent: -60px;}
			.p19{text-align: left;padding-left: 144px;margin-top: 6px;margin-bottom: 0px;}
			.p20{text-align: left;padding-left: 83px;margin-top: 14px;margin-bottom: 0px;}
			.p21{text-align: left;padding-left: 535px;margin-top: 62px;margin-bottom: 0px;}
			.p22{text-align: left;padding-left: 83px;padding-right: 95px;margin-top: 69px;margin-bottom: 0px;}
			.p23{text-align: left;padding-left: 457px;margin-top: 62px;margin-bottom: 0px;}
			.p24{text-align: left;padding-left: 83px;margin-top: 69px;margin-bottom: 0px;}
			.p25{text-align: right;padding-right: 344px;margin-top: 62px;margin-bottom: 0px;}
			.p26{text-align: left;padding-left: 144px;padding-right: 490px;margin-top: 13px;margin-bottom: 0px;}
			.p27{text-align: left;padding-left: 83px;margin-top: 6px;margin-bottom: 0px;}
			.p28{text-align: left;padding-left: 478px;margin-top: 62px;margin-bottom: 0px;}
			.p29{text-align: left;padding-left: 144px;padding-right: 437px;margin-top: 64px;margin-bottom: 0px;text-indent: -61px;}
			.p30{text-align: left;padding-left: 144px;padding-right: 736px;margin-top: 8px;margin-bottom: 0px;text-indent: 61px;}
			.p31{text-align: left;padding-left: 550px;margin-top: 62px;margin-bottom: 0px;}
			.p32{text-align: left;padding-left: 121px;padding-right: 494px;margin-top: 68px;margin-bottom: 0px;text-indent: -37px;}
			.p33{text-align: left;padding-left: 121px;margin-top: 6px;margin-bottom: 0px;}
			.p34{text-align: left;padding-left: 470px;margin-top: 108px;margin-bottom: 0px;}
			.p35{text-align: left;padding-left: 470px;margin-top: 13px;margin-bottom: 0px;}
			.p36{text-align: left;padding-left: 227px;margin-top: 0px;margin-bottom: 0px;}
			.p37{text-align: left;padding-left: 470px;margin-top: 0px;margin-bottom: 0px;}
			.p38{text-align: left;padding-left: 470px;margin-top: 23px;margin-bottom: 0px;}
			.p39{text-align: left;margin-top: 0px;margin-bottom: 0px;text-indent: 79px;}
			.p40{text-align: left;margin-top: 0px;margin-bottom: 0px;}
			.p41{text-align: left;margin-top: 2px;margin-bottom: 0px;}
			.p42{text-align: left;margin-top: 23px;margin-bottom: 0px;}
			.p43{text-align: left;margin-top: 3px;margin-bottom: 0px;}
			.p44{text-align: left;padding-left: 358px;margin-top: 61px;margin-bottom: 0px;}
			.p45{text-align: left;padding-left: 884px;margin-top: 172px;margin-bottom: 0px;}
			.p46{text-align: left;padding-left: 884px;margin-top: 43px;margin-bottom: 0px;}
			.p47{text-align: left;padding-left: 478px;margin-top: 61px;margin-bottom: 0px;}
			.p48{text-align: left;padding-left: 98px;margin-top: 144px;margin-bottom: 0px;}
			.p49{text-align: left;padding-left: 578px;margin-top: 9px;margin-bottom: 0px;}
			.p50{text-align: left;padding-left: 98px;margin-top: 5px;margin-bottom: 0px;}
			.p51{text-align: right;padding-right: 113px;margin-top: 4px;margin-bottom: 0px;}
			.p52{text-align: left;padding-left: 95px;margin-top: 9px;margin-bottom: 0px;}
			.p53{text-align: left;padding-left: 571px;margin-top: 7px;margin-bottom: 0px;}
			.p54{text-align: left;padding-left: 95px;margin-top: 7px;margin-bottom: 0px;}
			.p55{text-align: left;padding-left: 523px;margin-top: 61px;margin-bottom: 0px;}
			.p56{text-align: left;padding-left: 116px;margin-top: 144px;margin-bottom: 0px;}
			.p57{text-align: left;padding-left: 519px;margin-top: 10px;margin-bottom: 0px;}
			.p58{text-align: left;padding-left: 116px;margin-top: 4px;margin-bottom: 0px;}
			.p59{text-align: right;padding-right: 87px;margin-top: 2px;margin-bottom: 0px;}
			.p60{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
			.p61{text-align: left;margin-top: 0px;margin-bottom: 0px;text-indent: 75px;}
			.p62{text-align: left;padding-left: 52px;margin-top: 0px;margin-bottom: 0px;}
			.p63{text-align: center;padding-right: 66px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
			.p64{text-align: left;padding-left: 172px;margin-top: 60px;margin-bottom: 0px;}
			.p65{text-align: left;padding-left: 226px;margin-top: 1px;margin-bottom: 0px;}
			.p66{text-align: left;padding-left: 185px;margin-top: 65px;margin-bottom: 0px;}
			.p67{text-align: left;padding-left: 52px;padding-right: 578px;margin-top: 0px;margin-bottom: 0px;text-indent: -52px;}
			.p68{text-align: left;padding-left: 11px;margin-top: 59px;margin-bottom: 0px;}
			.p69{text-align: right;padding-right: 511px;margin-top: 62px;margin-bottom: 0px;}
			.p70{text-align: left;padding-left: 83px;padding-right: 532px;margin-top: 64px;margin-bottom: 0px;}
			.p71{text-align: left;padding-left: 83px;margin-top: 65px;margin-bottom: 0px;}
			.p72{text-align: left;padding-left: 434px;margin-top: 61px;margin-bottom: 0px;}
			.p73{text-align: left;padding-left: 554px;margin-top: 60px;margin-bottom: 0px;}
			.p74{text-align: left;padding-left: 608px;margin-top: 1px;margin-bottom: 0px;}
			.p75{text-align: left;padding-left: 567px;margin-top: 65px;margin-bottom: 0px;}
			.p76{text-align: left;padding-left: 537px;margin-top: 62px;margin-bottom: 0px;}
			.p77{text-align: left;padding-left: 83px;margin-top: 68px;margin-bottom: 0px;}
			.p78{text-align: left;padding-left: 516px;margin-top: 61px;margin-bottom: 0px;}
			.p79{text-align: left;padding-left: 468px;padding-right: 447px;margin-top: 19px;margin-bottom: 0px;}

			.td0{padding: 0px;margin: 0px;width: 405px;vertical-align: bottom;}
			.td1{padding: 0px;margin: 0px;width: 72px;vertical-align: bottom;}
			.td2{padding: 0px;margin: 0px;width: 239px;vertical-align: bottom;}
			.td3{padding: 0px;margin: 0px;width: 368px;vertical-align: bottom;}
			.td4{padding: 0px;margin: 0px;width: 93px;vertical-align: bottom;}
			.td5{padding: 0px;margin: 0px;width: 193px;vertical-align: bottom;}
			.td6{padding: 0px;margin: 0px;width: 205px;vertical-align: bottom;}
			.td7{padding: 0px;margin: 0px;width: 191px;vertical-align: bottom;}
			.td8{padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
			.td9{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
			.td10{padding: 0px;margin: 0px;width: 169px;vertical-align: bottom;}
			.td11{padding: 0px;margin: 0px;width: 190px;vertical-align: bottom;}
			.td12{padding: 0px;margin: 0px;width: 105px;vertical-align: bottom;}

			.tr0{height: 31px;}
			.tr1{height: 36px;}
			.tr2{height: 29px;}
			.tr3{height: 38px;}
			.tr4{height: 9px;}
			.tr5{height: 74px;}
			.tr6{height: 37px;}
			.tr7{height: 57px;}
			.tr8{height: 20px;}
			.tr9{height: 16px;}
			.tr10{height: 15px;}
			.tr11{height: 22px;}
			.tr12{height: 52px;}

			.t0{width: 477px;margin-left: 387px;margin-top: 233px;font: bold 23px 'Arial';color: #ffffff;}
			.t1{width: 700px;margin-left: 269px;font: bold 22px 'Arial';color: #ffffff;}
			.t2{width: 700px;margin-left: 113px;margin-top: 6px;font: bold 25px 'Arial';color: #ffffff;}
			.t3{width: 464px;margin-top: 71px;font: bold 22px 'Arial';color: #ffffff;}
			.t4{width: 464px;margin-left: 382px;margin-top: 71px;font: bold 22px 'Arial';color: #ffffff;}

			</style>
		<meta charset="utf-8">
		
		<title>Remote Presentation</title>

		<meta name="description" content="An easy to use CSS 3D slideshow tool for quickly creating good looking HTML presentations.">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">

		<link rel="stylesheet" href="/lib/css/zenburn.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	</head>
	
	<body>
	
		<%- body %>
	
<!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
<script src="/lib/js/head.min.js"></script>

<script>
	// Load the main reveal.js script
	head.js( '/js/reveal.js', function() {
		// Parse the query string into a key/value object
		var query = {};

		location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
			query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
		} );

		// Fires when a slide with data-state=customevent is activated
		Reveal.addEventListener( 'customevent', function() {
			console.log( '"customevent" has fired' );
		} );

		// Fires each time a new slide is activated
		Reveal.addEventListener( 'slidechanged', function( event ) {
			// event.previousSlide, event.currentSlide, event.indexh, event.indexv
		} );

		Reveal.initialize({
			// Display controls in the bottom right corner
			controls: true,

			// Display a presentation progress bar
			progress: true,

			// If true; each slide will be pushed to the browser history
			history: true,

			// Loops the presentation, defaults to false
			loop: false,

			// Flags if mouse wheel navigation should be enabled
			mouseWheel: true,

			// Apply a 3D roll to links on hover
			rollingLinks: true,

			// UI style
			theme: 'white', 

			// Transition style
			transition: query.transition || 'default' // default/cube/page/concave/linear(2d)
		});
	} );
	
	// Load third party scripts
	head.js( '/lib/js/classList.js' );
	head.js( '/lib/js/highlight.js', function() {
		// Fire off syntax highlighting for potential code samples in the slides
		hljs.initHighlightingOnLoad();
	} );


	// presentation id
	var presentation_id = 'demo' ; // default to demo presentation
			
	// map the url to the presentation id
	var pathNameArr = window.location.pathname.split("/");
	if(pathNameArr.length > 1)
		presentation_id = pathNameArr[1];

	head.js( '/socket.io/socket.io.js' , function() {
		
		// connect
		var socket = io.connect('/');	
		
		socket.on('connect', function () {
			console.log("client connected. Sending cur slide request");
			
	
			// on connect send presentation request
			socket.emit('request_presentation', {'id': presentation_id} );
		
			// init data
			socket.on('initdata', function(data) {
				console.log("Init data: " + JSON.stringify(data) );
				if(data.id == presentation_id)
				{
					// go to the respective slide
					Reveal.navigateTo(data.indexh, data.indexv);
				}
			});
			
			socket.on('updatedata', function(data) {
				console.log("Receive update data: " + JSON.stringify(data) );
				
				if(data.id == presentation_id)
				{
					// go to the respective slide
					Reveal.navigateTo(data.indexh, data.indexv);
				}
			});
			
		
		});
		
	} );
	
</script>
	
	
	</body>
</html>

